.greenText {
    color: green;
}
.redText {
    color: red;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(assets/paper.avif);
}

h1 {
    font-family: "Rubik Scribble", system-ui;
    font-weight: 400;
    font-style: normal;
}

div {
    margin-bottom: 30px;
}

#choices button{
    font-family: "Truculenta", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    width: 250px;
    font-size: 3rem;
    border-radius: 50px;
    background-color: #fdfcdc;
    cursor: pointer;
    transition: background-color 0.5x ease;
}

#choices button:hover{
    background-color: #e3d5ca;
    color: #9a8c98;
}

#display {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#result {
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0;
}